*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgColor:#0ea90e;
    --graycolor:#dcdcdc;
    --fontColor:#000;
    --fontColorW:#fff;
}
ul {
    display: flex;
    list-style: none;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
  button,
  textarea,
  input {
    border: none;
  }
  
  p,
  h3,
  h1,
  li,
  a,
  button,
  h4,
  label {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    font-size: 16px;
    color: var(--colorFont);
  }
  h1 {
    font-weight: 500;
  }
  h1 {
    font-size: 33px;
  }
  .abou {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  button {
    border: 2px solid #ffffff;
    color: var(--bg-Color-b);
    padding: 10px 40px;
    border-radius: 6px;
    background: transparent;
    font-size: 20px;
  }
  span {
    color: var(--towColor);
  }
  h4,
  span {
    font-size: 20px;
  }
  p {
    color: var(--colorFont);
  }
  img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }
  /*responsive */
  
  .contenr {
    margin: 0 auto;
    height: 100%;
  }
  /*large*/
  
  @media (min-width: 1200px) {
    .contenr {
      min-width: 90%;
    }
  }
  
  /*small*/
  @media (min-width: 768px) {
    .contenr {
      width: 750px;
    }
  }
  /*mediam*/
  @media (min-width: 992px) {
    .contenr {
      width: 970px;
    }
  }
  
  @media (max-width: 768px) {
    .contenr {
      width: 95%;
    }
  }

.header .contenr ,
.header .contenr ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .contenr .logo a{
    font-size: 36px;
    font-weight: bold;
}
.header .contenr ul {
    width: 300px;
    
}
.header .contenr ul li a{
    font-size: 22px;
    font-weight: bold;
}
.hero_section{
    width: 100%;
    height: 90vh;
    background-color: #dcdcdc;
    
}
.tets{
  background-color: rgb(245, 245, 245)
}